<h1>
  Repository details
</h1>
<nav>
  <a routerLink="/list"><< Github repositories</a>
</nav>
<p></p>

<div *ngIf="repository$ | async as repo else loading">
  <table>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Licence</td>
      <td>Link</td>
      <td>Starred?</td>
      <td>Language</td>
      <td>Contributors</td>
      <td>Stars</td>
      <td>Forks</td>
      <td>Issues</td>
    </tr>
    <tr>
      <td>{{ repo.name }}</td>
      <td>{{ repo.description | slice:0:100 }}</td>
      <td>{{ repo.licence }}</td>
      <td><a [href]="repo.link">{{ repo.link }}</a></td>
      <td>
        <span *ngIf="repo.starred; else notStarred">
          Yes. <button (click)="repo.starred = false; unstar(repo)">Unstar</button>
        </span>
        <ng-template #notStarred>
          No. <button  (click)="repo.starred = true; star(repo)">Star</button>
        </ng-template>
      </td>
      <td>{{ repo.language }}</td>
      <td>{{ repo.contributors }}</td>
      <td>{{ repo.stars }}</td>
      <td>{{ repo.forks}}</td>
      <td>{{ repo.issues }}</td>
    </tr>
  </table>
</div>


<ng-template #loading>
  Loading...
</ng-template>



